./server/config/**
server/config/keys.js
**/config/
**/server/config/keys.js
./config/*
./config/*
**/config/**
**/config/
./node_modules/*
./node_modules/*
**/node_modules/**
**/node_modules/
**/.DS_Store
/.DS_Store
.metals
.vscode