.message-line {
  width: 100%;
  display: inline-block;
  background-color: transparent;
  padding: 5px;
  margin: 0;
}
.message {
  position: relative;
  border: 2px solid;
  border-radius: 10px 10px 10px 10px;
  width: fit-content;
  width: 80%;
  height: auto;
  margin-top: 2px;
  word-wrap: break-word;
}
.mine {
  border-bottom-right-radius: 0px;
  background-color: cyan;
  display: block;
  float: right;
  margin-right: 20px;
}
.others {
  border-bottom-left-radius: 0px;
  background-color: green;
  display: block;
  margin-left: 10px;
}

#chat_div {
  border: 5px solid;
  width: 400px;
  height: 500px;
  background-color: blue;
  position: absolute;
  top: 5%;
  right: 5px;
  border-radius: 5%;
}

#chat {
  overflow-y: scroll;
  position: relative;
  height: 350px;
  border-color: green;
  border-radius: 2px;
  border: 3px solid;
  background-color: white;
  top: 30px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

#text_area {
  position: absolute;
  width: 95%;
  margin-left: 2%;
  border: 2px thin;
  bottom: 2px;
  resize: unset;
}
